body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;

}

.btn {
    padding: 10px 20px;
    border-radius: 90px;
    -webkit-box-shadow: 9px 6px 40px -17px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 9px 6px 40px -17px rgba(0, 0, 0, 0.5);
    box-shadow: 9px 6px 40px -17px rgba(0, 0, 0, 0.7);
}

.nav-bar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 20px;
}

.hero-sec {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;

}

.header {
    background-image: url('about/Group\ 11.jpg');
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.container-box{
    font-size: small;
    margin: 20px;
  
    text-align: justify;
}

.card{
    text-align: center;
    width: 23.5%;
    height: 500px;
    background-color: aqua;
    
}
.card-img{
    width:100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}
.card-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gym-img{
    width:-10px;
    height: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.about-img-text{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.about-img-div{
    width: 50%;
}

.about-text1{
    width: 50%;
}
.gym-img1{
    display: flex;
    width: 0;
    height: 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    

}
.gym-img2{
    display: flex;
    width: -100px;
    height: -200px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.gym-img3{
    display: flex;
    width: -100px;
    height: -200px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.main-box{
    display: flex;
    margin-bottom: 50px;
    

}

.blog-img-box1{
    
    display: grid;
    margin-right: 40px;
    
    
}

.blog-img-btn{
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: black;
    color: azure;
}

.blog-img-box2{
    display: grid;
    
}
.blog-img-box3{
    display: grid;
    margin-left:40px ;
}
.blog-page-num{
    display: flex;
    justify-content: center;
}

.box-page-btn{
    border-radius: 100px;
    margin-right: 7px;
    background-color:black ;
    color: white;
}
.box-page-btn1{
    border-radius: 100px;
    margin-right: 7px;
    background-color:greenyellow;
    color: black;
}

    





