body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #eef8ff;
}




.container {
    width: 80%;
    margin: 0 auto;

}

.btn {
    padding: 10px 20px;
    border-radius: 90px;
    -webkit-box-shadow: 9px 6px 40px -17px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 9px 6px 40px -17px rgba(0, 0, 0, 0.5);
    box-shadow: 9px 6px 40px -17px rgba(0, 0, 0, 0.7);
}

.nav-bar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 20px;
}

.hero-sec {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;

}

.header {
    background-image: url('about/Group\ 11.jpg');
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.container-box {
    font-size: small;
    margin: 20px;

    text-align: justify;
}

.card {
    text-align: center;
    width: 23.5%;
    height: 500px;
    background-color: aqua;

}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.card-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gym-img {
    width: -10px;
    height: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about-img-text {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.about-img-div {
    width: 50%;

}

.about-text1 {
    width: 50%;

}

.gym-img1 {
    display: flex;
    width: 0;
    height: 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;


}

.gym-img2 {
    display: flex;
    width: -100px;
    height: -200px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.gym-img3 {
    display: flex;
    width: -100px;
    height: -200px;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.main-box {
    display: flex;
    margin-bottom: 50px;


}

.blog-img-box1 {

    display: grid;
    margin-right: 40px;


}

.blog-img-btn {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: black;
    color: azure;
}

.blog-img-box2 {
    display: grid;

}

.blog-img-box3 {
    display: grid;
    margin-left: 40px;
}

.blog-page-num {
    display: flex;
    justify-content: center;
}

.box-page-btn {
    border-radius: 100px;
    margin-right: 7px;
    background-color: black;
    color: white;
}

.box-page-btn1 {
    border-radius: 100px;
    margin-right: 7px;
    background-color: greenyellow;
    color: black;
}

.fitnes-upbox{
    display: flex;
}

.fitnes-bottombox{
    display: flex;
}
.fitnes-box1 {
    width: 500px;
    height: 300px;
    border-style: solid;
    margin-bottom: 50px;

}

.fitness-date {
    width: 250px;
    height: 300px;
    border-style: solid;
}

.fitnes-box2 {
    width: 500px;
    height: 300px;
    border-style: solid;

}

.gym-img-box1 {
    margin-left: 30px;

}

.gym-gallery-img {
    margin-bottom: 30px;
}

.main-index-box {
    display: flex;
}

.category-box1,
.category-box2 {
    display: flex;
}

.index-icon {
    display: flex;
}

.blog-social-btn {
    display: flex;
}

.blog-facebook-btn {
    background-color: #0921ab;
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;

}

.contact-box {
    background: #fff;
    display: flex;

}

.contact-left {
    flex-basis: 50%;
    padding: 40px 60px;

}

.contact-right {
    flex-basis: 50%;
    padding: 40px 60px;


}

.contact-Message {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;

}

.input-row {}

.input-group {
    margin-bottom: 20px;
    outline-style: inset;
    width: 400px;
    height: 45px;
    text-align: center;

}


.input-msgbox {

    margin-bottom: 20px;
    outline-style: inset;
    width: 400px;
    height: 155px;

}

.contact-submit {

    background-color: rgb(30, 17, 115);
    width: 85px;
    height: 35px;
    color: #ccc;
    outline: none;
    border: none;
    margin-top: 20px;

}

tr td:first-child {
    padding-top: 40px;

}

.box-comment {
    display: flex;

}

.box-comment1 {
    outline-style: inset;

}

.box-comment2 {
    outline-style: inset;
    margin-left: 20px;

}

.blog-input-row {
    margin-right: 150px;

}

.blog-contact-left {
    margin-right: 30px;

}

.blog-input-groupall {
    display: flex;

}


.blog-input-group1 {
    margin-bottom: 20px;
    outline-style: inset;
    width: 650px;
    height: 45px;
    margin-right: 20px;

}

.blog-input-group2 {
    margin-bottom: 20px;
    outline-style: inset;
    width: 550px;
    height: 45px;

}



.blog-input-msgbox {

    margin-bottom: 20px;
    outline-style: inset;
    width: 1220px;
    height: 155px;

}

.blog-contact-submit {

    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 35px;
    color: #ccc;
    outline: none;
    border: none;
    margin-top: 20px;
    border-radius: 40px;

}




footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col :nth-child(2),
.col :nth-child(3) {
    flex-basis: 15%;

}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;

}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

form {

    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

}

form .far {

    font-size: 18px;
    margin-right: 10px;

}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa-solid {
    font-size: 16px;
    color: #ccc;

}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: 50%;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;

}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width : 700px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;

    }

    .col :nth-child(2),
    .col :nth-child(3) {
        flex-basis: 100%;

    }
}